*.pyc
*.sublime-project
*.sublime-workspace
*.swp

*.py[co]

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
coverage
htmlcov*

#Translations
*.mo

# Local file cruft/auto-backups
.DS_Store
*~

# Sphinx
docs/_build
docs/_static
