language: python
python:
  - "2.6"
  - "2.7"
  - "3.2"
  - "3.3"
  - "3.4"
  - "pypy"

install:
  - if [[ $TRAVIS_PYTHON_VERSION == '2.6' ]]; then pip install --use-mirrors unittest2; fi
  - pip install nose pycrypto mock pyjwt

script:
  - nosetests -w tests

after_success:
  - pip install coveralls
  - coverage run --source=oauthlib setup.py -q nosetests
  - coveralls

branches:
  only:
    - master

notifications:
  irc: "irc.freenode.org#oauthlib"
